<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This authors books</title>
    <style>
        #container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #authors {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="container">

        <table id="authors">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>
            <tr th:each="book : ${matches}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>
        <a th:href="@{shelf}" >Back to main page</a>

</div>

</body>
</html>